:root {
  --primarycolor: #7ED957;
  --secondarycolor: #ffffff;
  --thirdcolor: #faf8ff;
  --fourthcolor: #008037;
  --contrastcolor: #ee6464;
}
.shape {
  /* border-radius: 32px; */
  background-color: var(--secondarycolor);
  box-sizing: border-box;
  color: black;
  width: 150px;
  height: 300px;
  padding: 10px 10px 10px 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  box-shadow: 2px 3px 2px 1px rgba(227, 224, 243, 0.25);
  padding: auto;
  text-align: center;
  border-radius: 32px;
}
.shape p {
  color: var(--primarycolor);
}
.shape p,
h4 {
  padding: 10px 20px 0 20px;
  justify-content: center;
}
.shape img {
  width: 100%;
  height: 150px;
  border-radius: 16%;
}
.shape h4 {
  font-size: 16px;
}
.shape:hover {
  cursor: pointer;
  /* animation: scalecard 1s ease; */
  background-color: #fcec8d ;
}



.content {
  display: block;
}
@keyframes scalecard {
  0% {
    transform: scale3D(1, 1, 1);
  }
  100% {
    transform: scale3D(1.3, 1.3, 1.3);
  }
}
