:root {
  --primarycolor: #7ED957;
  --secondarycolor: #ffffff;
  --thirdcolor: #faf8ff;
  --fourthcolor: #008037;
  --contrastcolor: #ee6464;
}

.count1 {
  border: none;
  background-color: var(--primarycolor);
  color: white;
  width: 10%;
  height: 28px;
  font-weight: 800;
  border-radius: 7px;
  margin-left: 3px;
  margin-right: 3px;
}
.btn-remove {
  border-radius: 32px;
  background-color: var(--contrastcolor);
  color: white;
  border: none;
  outline: none;
  width: 20%;
  height: 30px;
  font-size: 16px;
}
.btn-remove:hover {
  background-color: #fa4545;
  cursor: pointer;
}
.label {
  font-size: 24px;
}
